body{
    background-color:rgb(126, 243, 224);
}

#sonic{
    width: 150px;
    border: solid 10px blue;
}

.principal{
    background-color: rgb(139, 241, 165);
}
.rodape{
    background-color: cyan;
    color: rgb(0, 0, 0);
    text-align: center;
}
