#sonic{
    width: 150px;
    border: solid 10px blue;
}

.principal{
    background-color: rgb(139, 241, 165);
}
.rodape{
    background-color: cyan;
    color: rgb(225, 25, 240);
    text-align: center;
}