.cabecalhão{
    background-color: rgb(16, 15, 17);
    border: 10px;
    border-color: blue;
    border-style:dashed;
    margin: 10px;
    color:aliceblue;
    font-weight: 400;
}
#sonic2{
    width: 150px;
    border: solid 10px blue;
}
