.cabecalhão{
    border: 10px;
    border-color: blue;
    border-style: inset;
    margin: 10px;
    color: burlywood;
    font-weight: 400;
}
#sonic2{
    width: 150px;
    border: solid 10px blue;
}
