#Sonic{
    width: 150px ;
    border: solid  8px rgb(21, 92, 172) ;
}

.principal{
    background-color: rgb(139, 241, 165);
}
.rodape{
    background-color: cyan;
    color: aliceblue;
    text-align: center;
}