.cabecalhão{
    background-color: rgb(0, 0, 0);
    border: 10px;
    border-color: blue;
    border-style:dashed;
    margin: 10px;
    color:aliceblue;
    font-weight: 400;
}
#sonic2{
    width: 150px;
    border: solid 10px blue;
}
.principal{
    background-color: black;
    border: 10px;
    border-color: aliceblue;
    border-style: double ;
    margin: 30px;
    color: gold;
}
#link1{
    font-size: 20px;   
   color: blue;
   text-decoration: none;
}
#link1{
    font-size: 25px;   
   color: rgb(162, 0, 255);
   text-decoration: none;
   }
#link2{
    font-size: 20px;   
   color: blue;
   text-decoration: none;
   }
#link2{
    font-size: 25px;   
   color: rgb(162, 0, 255);
   text-decoration: none;
   }
#link3{
    font-size: 20px;   
   color: blue;
   text-decoration: none;
   }
#link3{
    font-size: 25px;   
   color: rgb(162, 0, 255);
   text-decoration: none;
   }